pip install -U pip
# pip install -U zhipuai==1.0.7
pip install -U zhipuai # zhipuai SDK 已经统一characterglm与glm模型用法;
pip install -U google-search-results
pip install -U dingtalk-stream
pip install -U alibabacloud-dingtalk
pip install -U 
pip install -U faiss-cpu
# pydub音频处理,转换ogg格式,需要安装ffmpeg:
# Linux CLI: 
# sudo apt-get install ffmpeg
# ffmpeg -version
pip install -U pydub

pip install aliyun-python-sdk-core # 安装阿里云 SDK 核心库
pip install aliyun-python-sdk-nlp-automl # 安装NLP自学习平台SDK

# 安装语音合成库: 
cd autodl-fs/DingTalkAPP # 进入alibabacloud-nls-python-sdk-1.0.0.zip压缩文件所在目录

unzip -u alibabacloud-nls-python-sdk-1.0.0.zip

cd alibabacloud-nls-python-sdk-1.0.0 # 进入压缩文件解压之后的文件夹
python -m pip install -r requirements.txt
python -m pip install .

# 安装Azure语音合成库:
pip install --upgrade azure-cognitiveservices-speech

# 如果是linux ubuntu, 应安装 ca-certificates 以建立安全的 Websocket 并避免此 WS_OPEN_ERROR_UNDERLYING_IO_OPEN_FAILED 错误。需运行以下 命令：
# sudo apt-get update
# sudo apt-get install build-essential libssl-dev ca-certificates libasound2 wget



